In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
sns.set_style("whitegrid")
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 200)
pd.set_option('display.colheader_justify', 'center')
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
# Load the dataset
df = pd.read_excel('_data/_matches_list_v1.xlsx')

In [3]:
# Set a random seed for reproducibility
np.random.seed(42)

# List of columns that start with 'w_' and 'l_'
w_cols = [col for col in df.columns if col.startswith('w_')]
l_cols = [col for col in df.columns if col.startswith('l_')]

# Create a new DataFrame to store the results
df_new = df.copy()

# Define 'p1_won' column (1 if player 1 wins, 0 otherwise)
# You can define this column based on your data
df_new['p1_won'] = np.random.randint(0, 2, df_new.shape[0])

# Iterate through the DataFrame and update columns and values
for idx, row in df_new.iterrows():
    # Iterate through the 'w_' and 'l_' columns
    for w_col, l_col in zip(w_cols, l_cols):
        # Create new column names for 'p1' and 'p2'
        p1_col = 'p1_' + w_col[2:]
        p2_col = 'p2_' + l_col[2:]
        
        # Assign the values based on 'p1_won'
        if row['p1_won'] == 1:
            df_new.at[idx, p1_col] = row[w_col]
            df_new.at[idx, p2_col] = row[l_col]
        else:
            df_new.at[idx, p1_col] = row[l_col]
            df_new.at[idx, p2_col] = row[w_col]

# Drop the old 'w_' and 'l_' columns
df_new.drop(w_cols + l_cols, axis=1, inplace=True)

df_new.head()

,match_id,match_date,year,tourney_name,tourney_level,court,surface,draw_size,round,best_of,minutes,total_points,total_games,score,p1_won,p1_points,p2_points,p1_games,p2_games,p1_sets,p2_sets,p1_id,p2_id,p1_name,p2_name,p1_rank,p2_rank,p1_rankpt,p2_rankpt,p1_hand,p2_hand,p1_ht,p2_ht,p1_ioc,p2_ioc,p1_age,p2_age,p1_seed,p2_seed,p1_entry,p2_entry,p1_ace,p2_ace,p1_df,p2_df,p1_svpt,p2_svpt,p1_1stIn,p2_1stIn,p1_1stWon,p2_1stWon,p1_2ndWon,p2_2ndWon,p1_SvGms,p2_SvGms,p1_bpSaved,p2_bpSaved,p1_bpFaced,p2_bpFaced,p1_B365,p2_B365,p1_EX,p2_EX,p1_LB,p2_LB,p1_PS,p2_PS,p1_SJ,p2_SJ,p1_UB,p2_UB,p1_Max,p2_Max,p1_Avg,p2_Avg
0,2009-339-0011,2009-01-04,2009,Brisbane,A,Outdoor,Hard,32,R32,3,127.00,187.00,30,3-6 6-3 7-5,0,94.00,93.00,14.00,16.00,1.00,2.00,104068.00,103898.00,Robby Ginepri,Julien Benneteau,49.00,40.00,1480.00,1608.00,R,R,183.00,185.00,USA,FRA,26.20,27.00,NaN,NaN,NaN,NaN,8.00,10.00,2.00,9.00,88.00,99.00,53.00,62.00,32.00,41.00,21.00,17.00,15.00,15.00,4.00,2.00,9.00,6.00,1.66,2.10,1.65,2.25,1.66,2.10,NaN,NaN,1.73,2.10,1.80,1.96,NaN,NaN,NaN,NaN
1,2009-339-0012,2009-01-04,2009,Brisbane,A,Outdoor,Hard,32,R32,3,55.00,101.00,18,6-3 6-3,1,59.00,42.00,12.00,6.00,2.00,0.00,104417.00,105023.00,Robin Soderling,Sam Querrey,17.00,36.00,2650.00,1740.00,R,R,193.00,198.00,SWE,USA,24.30,21.20,4.00,NaN,NaN,NaN,7.00,4.00,2.00,3.00,52.00,49.00,30.00,27.00,26.00,20.00,13.00,9.00,9.00,9.00,0.00,2.00,0.00,5.00,1.44,2.62,1.49,2.65,1.53,2.37,NaN,NaN,1.50,2.62,1.40,2.85,NaN,NaN,NaN,NaN
2,2009-339-0013,2009-01-04,2009,Brisbane,A,Outdoor,Hard,32,R32,3,133.00,191.00,26,4-6 6-2 6-2,0,89.00,102.00,10.00,16.00,1.00,2.00,102967.00,104755.00,Marc Gicquel,Richard Gasquet,50.00,23.00,1428.00,2320.00,R,R,188.00,185.00,FRA,FRA,31.70,22.50,NaN,7.00,NaN,NaN,7.00,6.00,6.00,5.00,100.00,91.00,45.00,42.00,30.00,29.00,23.00,26.00,13.00,13.00,13.00,3.00,18.00,5.00,3.75,1.25,3.81,1.27,3.50,1.28,NaN,NaN,3.50,1.25,3.60,1.27,NaN,NaN,NaN,NaN
3,2009-339-0014,2009-01-04,2009,Brisbane,A,Outdoor,Hard,32,R32,3,86.00,138.00,21,7-6(0) 6-2,0,62.00,76.00,8.00,13.00,0.00,2.00,104327.00,103758.00,Steve Darcis,Taylor Dent,59.00,865.00,1362.00,28.00,R,R,178.00,188.00,BEL,USA,24.80,27.70,NaN,NaN,NaN,NaN,4.00,8.00,2.00,5.00,70.00,68.00,46.00,37.00,24.00,31.00,14.00,13.00,10.00,10.00,1.00,6.00,5.00,8.00,1.40,2.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.37,3.00,NaN,NaN,NaN,NaN
4,2009-339-0005,2009-01-05,2009,Brisbane,A,Outdoor,Hard,32,R32,3,65.00,106.00,18,6-4 6-2,0,42.00,64.00,6.00,12.00,0.00,2.00,106071.00,104269.00,Bernard Tomic,Fernando Verdasco,764.00,15.00,42.00,2830.00,R,L,193.00,188.00,AUS,ESP,16.20,25.10,NaN,3.00,WC,NaN,3.00,1.00,1.00,2.00,56.00,50.00,34.00,39.00,19.00,31.00,9.00,5.00,9.00,9.00,9.00,3.00,13.00,4.00,8.00,1.06,9.52,1.06,9.00,1.04,NaN,NaN,11.00,1.03,11.00,1.04,NaN,NaN,NaN,NaN

In [4]:
df_new['p1_won'].value_counts()

1    17107
0    17014
Name: p1_won, dtype: int64

In [5]:
# Export dataset to excel
df_new.to_excel('_data/_matches_list_v2.xlsx', index=False)